<?xml version="1.0"?>
<config>
    <modules>
        <Degriz_Core>
            <version>1.0.0</version>
        </Degriz_Core>
    </modules>
    <global>
        <helpers>
            <degriz_core>
                <class>Degriz_Core_Helper</class>
            </degriz_core>
        </helpers>
        <blocks>
			<degriz_core>
				<class>Degriz_Core_Block</class>
			</degriz_core>
		</blocks>
    </global>
</config>
